body {
    /* background-color: red; */
}

.carousel-item img {
    max-height: 50vh;
}

.card-img-top {
    max-height: 30vh;
}

.row {
    margin: 35px 0px;
}

.card {
    transition: all .3s ease-in-out;
}

.card:hover {
    transform: scale(1.06);
    z-index: 1;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 1200px;
    
}